.logo{
    margin-left: -10px;
    padding-left: 0px;
  }


.foterhight{
	min-height:50%;
  }
  p {
	font-family: Lato;
  }

  .fonts{
    font-size:small ;
}

.fon{
    font-size:9px;
}

//link
//https://www.youtube.com/watch?v=8cp8GP-dXbY

//link
//import { NgbModule } from '@ng-bootstrap/ng-bootstrap';
//https://stackoverflow.com/questions/69433250/install-ngbootstrap-error-could-not-resolve-dependency